body {
  margin: 0px;
  padding: 0px;
}

.header {
  height: 650px;
	background: url(../img/background.jpg) center center;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer {
  height: 650px;
  background: url(../img/background.jpg) center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.p {
  height: 750px;
  background-color: #BDBDBD;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title {
	margin-top: 150px;
	font-size: 72px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.07em;
  color: #404040;

}

#span {
  display: inline-block;
  padding: 0.2em 0.5em;
  border: #404040 solid 10px;
}

.title-sub {
	margin-top: 15px;
	font-size: 23px;
  letter-spacing: 0.07em;
  font-weight: 600;
  color: #404040;
}

#nav {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #404040;
  position: fixed;face
  top: 0;
  width: 100%;
}

#nav li {
  display: inline-block;
}

a {
  display: block;
  color: rgb(213,214,196);
  font-size: 20px;
  padding: 10px 70px;
  text-decoration: none;
  font-weight: 600;
}

li a:hover {
  background-color: #3498db;

}

h3 {
  font-weight: bold;
  text-align: center;
  color: #404040;
  font-family: sans-serif;
}

.face-lockup {
  max-width: 780px;
  display: flex;
  display: -webkit-flex;
  -webkit-flex-direction: row-reverse;
  margin: 0 auto;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -o-justify-content: space-around;
}

.face {
  order: 2;
  -webkit-order: 2;
}

.lin {
  order: 1;
  -webkit-order: 3;
}

.fb {
  order: 3;
  -webkit-order: 1;
}

#me {
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.project {
  text-align: center;
  font-size: 40px;
  font-weight: 500;
  font-family: sans-serif;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #404040;

}

.intro {
  text-align: center;
  margin-right: 60px;
  margin-left: 60px;
  color: #404040;
  font-family: sans-serif;
  margin-bottom: 40px;
}

.proj1 {
  text-align: center;
  margin-top: 2px;
}

a.game {
  color: white;
}

.proj1-sub {
  text-align: center;
  margin-top: -60px;
  text-transform: uppercase;
  margin-right: 100px;
  margin-left: 100px;
  font-family: sans-serif;
}

.u {
  min-width: 600px
  display: flex;
  display: -webkit-flex;
  margin: 0 auto;
  align-items: center;
  -webkit-align-items: center;
  justify-content: space-around;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -o-justify-content: space-around;
}

.unity {
  max-width: 300px;
  order: 1;
  -webkit-order: 1;
}

.unity2 {
  min-width: 300px;
  order: 2;
  -webkit-order: 2;
}


