.body {
  background: #404040;
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#nav {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #404040;
  text-align: center;
}

#nav li {
  display: inline-block;
}

a {
  display: block;
  color: wheat;
  font-size: 20px;
  padding: 10px 70px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: #705050;
  color: #404040;
}

.pic {
  position: center;
  top: -4px;
  width: 200px;
  height: 200px;
}

#center {
  margin: 75px;
  text-align: center;
}

.intro p {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
  color: wheat;
  text-weight: bold;
  font-size: 20px;
}
